/*-- scss:defaults --*/

$light: #ffffff;
$dark: #000000;
$body-bg: #ffffff;
$body-color: #000000;
$headings-color: #000000;
$link-color: #1a5fb4;
$link-hover-color: #0b3d80;
$border-color: #000000;
$hr-color: #000000;
$hr-opacity: 1;
$navbar-bg: #ffffff;
$navbar-fg: #000000;
$navbar-hl: #1a5fb4;
